In [1]:
import pandas as pd
from functions import p

In [2]:
df = pd.read_csv('files/online_retail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
df.iloc[0]
df.loc[0]

InvoiceNo                                  536365
StockCode                                  85123A
Description    WHITE HANGING HEART T-LIGHT HOLDER
Quantity                                        6
InvoiceDate                   2010-12-01 08:26:00
UnitPrice                                    2.55
CustomerID                                17850.0
Country                            United Kingdom
Name: 0, dtype: object

In [4]:
df.iloc[:5]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
df.loc[:5]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom

In [6]:
p(df.iloc[:5, :3])
p()
p(df.iloc[:5, 6])
p()
p(df.iloc[:5, 0:2])
p()
columns = [0,2,6]
p(df.iloc[:5, columns])

  InvoiceNo StockCode                          Description
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER
1    536365     71053                  WHITE METAL LANTERN
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.

0    17850.0
1    17850.0
2    17850.0
3    17850.0
4    17850.0
Name: CustomerID, dtype: float64

  InvoiceNo StockCode
0    536365    85123A
1    536365     71053
2    536365    84406B
3    536365    84029G
4    536365    84029E

  InvoiceNo                          Description  CustomerID
0    536365   WHITE HANGING HEART T-LIGHT HOLDER     17850.0
1    536365                  WHITE METAL LANTERN     17850.0
2    536365       CREAM CUPID HEARTS COAT HANGER     17850.0
3    536365  KNITTED UNION FLAG HOT WATER BOTTLE     17850.0
4    536365       RED WOOLLY HOTTIE WHITE HEART.     17850.0

In [7]:
columns = [0,1,2,6,7]
df.iloc[:5, columns]

,InvoiceNo,StockCode,Description,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,17850.0,United Kingdom

In [8]:
show = ('StockCode', 'InvoiceNo')
p(df.loc[:5, show])
p()
hide = ('StockCode', 'InvoiceNo')
p(df.loc[:5, df.columns.difference(hide)])

  StockCode InvoiceNo
0    85123A    536365
1     71053    536365
2    84406B    536365
3    84029G    536365
4    84029E    536365
5     22752    536365

          Country  CustomerID                          Description  \
0  United Kingdom     17850.0   WHITE HANGING HEART T-LIGHT HOLDER
1  United Kingdom     17850.0                  WHITE METAL LANTERN
2  United Kingdom     17850.0       CREAM CUPID HEARTS COAT HANGER
3  United Kingdom     17850.0  KNITTED UNION FLAG HOT WATER BOTTLE
4  United Kingdom     17850.0       RED WOOLLY HOTTIE WHITE HEART.
5  United Kingdom     17850.0         SET 7 BABUSHKA NESTING BOXES

           InvoiceDate  Quantity  UnitPrice
0  2010-12-01 08:26:00         6       2.55
1  2010-12-01 08:26:00         6       3.39
2  2010-12-01 08:26:00         8       2.75
3  2010-12-01 08:26:00         6       3.39
4  2010-12-01 08:26:00         6       3.39
5  2010-12-01 08:26:00         2       7.65

In [14]:
columns = [0,1,2,6,7]
df.iloc[:5, columns]

,InvoiceNo,StockCode,Description,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,17850.0,United Kingdom

In [13]:
df.iloc[:5, list(range(0,3)) + list(range(6, 8))]

,InvoiceNo,StockCode,Description,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,17850.0,United Kingdom

In [12]:
pd.concat((df.iloc[:5, :3], df.iloc[:5, 6:8]), axis=1)

,InvoiceNo,StockCode,Description,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,17850.0,United Kingdom