In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./files/athletes_new.csv')
df

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,nationality_full,nationality_code,height,weight,disciplines,events,birth_date
0,1535420,VALENCIA Alejandra,VALENCIA A,Alejandra VALENCIA,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team"", 'Mixed ...",1994-10-17
1,1535429,RUIZ Angela,RUIZ A,Angela RUIZ,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2006-07-28
2,1535430,GRANDE Matias,GRANDE M,Matias GRANDE,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team"", 'Mixed Team']",2004-04-26
3,1536460,ROJAS Carlos,ROJAS C,Carlos ROJAS,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",2000-01-14
4,1536467,MARTINEZ WING Bruno,MARTINEZ WING B,Bruno MARTINEZ WING,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",1998-03-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11110,1981775,SULEYMANOV Sanan,SULEYMANOV S,Sanan SULEYMANOV,Male,Athlete,AZE,Azerbaijan,Azerbaijan,Azerbaijan,Azerbaijan,AZE,0,0.0,['Wrestling'],"[""Men's Greco-Roman 77kg""]",1996-12-15
11111,1981785,MAGOMEDOV Magomedkhan,MAGOMEDOV M,Magomedkhan MAGOMEDOV,Male,Athlete,AZE,Azerbaijan,Azerbaijan,Azerbaijan,Azerbaijan,AZE,0,0.0,['Wrestling'],"[""Men's Freestyle 97kg""]",1998-01-27
11112,2008688,SACULTAN Maxim,SACULTAN M,Maxim SACULTAN,Male,Athlete,MDA,Republic of Moldova,Republic of Moldova,Republic of Moldova,Republic of Moldova,MDA,0,0.0,['Wrestling'],"[""Men's Freestyle 65kg""]",1996-11-18
11113,3429662,VALIEV Chermen,VALIEV C,Chermen VALIEV,Male,Athlete,ALB,Albania,Albania,Albania,Albania,ALB,0,0.0,['Wrestling'],"[""Men's Freestyle 74kg""]",1998-12-10
11114,9460001,LIUZZI Emanuela,LIUZZI E,Emanuela LIUZZI,Female,Athlete,ITA,Italy,Italy,0,0,0,0,0.0,['Wrestling'],"[""Women's Freestyle 50kg""]",2000-04-27

In [3]:
df[0:4]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,nationality_full,nationality_code,height,weight,disciplines,events,birth_date
0,1535420,VALENCIA Alejandra,VALENCIA A,Alejandra VALENCIA,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team"", 'Mixed ...",1994-10-17
1,1535429,RUIZ Angela,RUIZ A,Angela RUIZ,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2006-07-28
2,1535430,GRANDE Matias,GRANDE M,Matias GRANDE,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team"", 'Mixed Team']",2004-04-26
3,1536460,ROJAS Carlos,ROJAS C,Carlos ROJAS,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",2000-01-14

In [8]:
df[["name", "code", "gender", "country_code"]]

                        name     code  gender country_code
0         VALENCIA Alejandra  1535420  Female          MEX
1                RUIZ Angela  1535429  Female          MEX
2              GRANDE Matias  1535430    Male          MEX
3               ROJAS Carlos  1536460    Male          MEX
4        MARTINEZ WING Bruno  1536467    Male          MEX
...                      ...      ...     ...          ...
11110       SULEYMANOV Sanan  1981775    Male          AZE
11111  MAGOMEDOV Magomedkhan  1981785    Male          AZE
11112         SACULTAN Maxim  2008688    Male          MDA
11113         VALIEV Chermen  3429662    Male          ALB
11114        LIUZZI Emanuela  9460001  Female          ITA

[11115 rows x 4 columns]

In [11]:
df.loc[:]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,nationality_full,nationality_code,height,weight,disciplines,events,birth_date
0,1535420,VALENCIA Alejandra,VALENCIA A,Alejandra VALENCIA,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team"", 'Mixed ...",1994-10-17
1,1535429,RUIZ Angela,RUIZ A,Angela RUIZ,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2006-07-28
2,1535430,GRANDE Matias,GRANDE M,Matias GRANDE,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team"", 'Mixed Team']",2004-04-26
3,1536460,ROJAS Carlos,ROJAS C,Carlos ROJAS,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",2000-01-14
4,1536467,MARTINEZ WING Bruno,MARTINEZ WING B,Bruno MARTINEZ WING,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",1998-03-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11110,1981775,SULEYMANOV Sanan,SULEYMANOV S,Sanan SULEYMANOV,Male,Athlete,AZE,Azerbaijan,Azerbaijan,Azerbaijan,Azerbaijan,AZE,0,0.0,['Wrestling'],"[""Men's Greco-Roman 77kg""]",1996-12-15
11111,1981785,MAGOMEDOV Magomedkhan,MAGOMEDOV M,Magomedkhan MAGOMEDOV,Male,Athlete,AZE,Azerbaijan,Azerbaijan,Azerbaijan,Azerbaijan,AZE,0,0.0,['Wrestling'],"[""Men's Freestyle 97kg""]",1998-01-27
11112,2008688,SACULTAN Maxim,SACULTAN M,Maxim SACULTAN,Male,Athlete,MDA,Republic of Moldova,Republic of Moldova,Republic of Moldova,Republic of Moldova,MDA,0,0.0,['Wrestling'],"[""Men's Freestyle 65kg""]",1996-11-18
11113,3429662,VALIEV Chermen,VALIEV C,Chermen VALIEV,Male,Athlete,ALB,Albania,Albania,Albania,Albania,ALB,0,0.0,['Wrestling'],"[""Men's Freestyle 74kg""]",1998-12-10
11114,9460001,LIUZZI Emanuela,LIUZZI E,Emanuela LIUZZI,Female,Athlete,ITA,Italy,Italy,0,0,0,0,0.0,['Wrestling'],"[""Women's Freestyle 50kg""]",2000-04-27

In [12]:
df.loc[0:4]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,nationality_full,nationality_code,height,weight,disciplines,events,birth_date
0,1535420,VALENCIA Alejandra,VALENCIA A,Alejandra VALENCIA,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team"", 'Mixed ...",1994-10-17
1,1535429,RUIZ Angela,RUIZ A,Angela RUIZ,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2006-07-28
2,1535430,GRANDE Matias,GRANDE M,Matias GRANDE,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team"", 'Mixed Team']",2004-04-26
3,1536460,ROJAS Carlos,ROJAS C,Carlos ROJAS,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",2000-01-14
4,1536467,MARTINEZ WING Bruno,MARTINEZ WING B,Bruno MARTINEZ WING,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",1998-03-08

In [14]:
df.loc[0:4, ["code", "name", "country_code"]]

      code                 name country_code
0  1535420   VALENCIA Alejandra          MEX
1  1535429          RUIZ Angela          MEX
2  1535430        GRANDE Matias          MEX
3  1536460         ROJAS Carlos          MEX
4  1536467  MARTINEZ WING Bruno          MEX

In [19]:
"id-" + df.loc[0:15, "name"]

0         id-VALENCIA Alejandra
1                id-RUIZ Angela
2              id-GRANDE Matias
3               id-ROJAS Carlos
4        id-MARTINEZ WING Bruno
5                id-VAZQUEZ Ana
6              id-FALLAH Mobina
7           id-D'AMOUR Nicholas
8       id-AMAISTROAIE Madalina
9              id-BARBELIN Lisa
10            id-CORDEAU Amelie
11            id-LOPEZ Caroline
12            id-ADDIS Baptiste
13           id-CHIRAULT Thomas
14    id-VALLADONT Jean-Charles
15                 id-DORJI Lam
Name: name, dtype: object

In [31]:
rs = df.loc[0:15, "gender"] == 'Female'
filtrado = df.loc[0:15][rs]
filtrado

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,nationality_full,nationality_code,height,weight,disciplines,events,birth_date
0,1535420,VALENCIA Alejandra,VALENCIA A,Alejandra VALENCIA,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team"", 'Mixed ...",1994-10-17
1,1535429,RUIZ Angela,RUIZ A,Angela RUIZ,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2006-07-28
5,1536479,VAZQUEZ Ana,VAZQUEZ A,Ana VAZQUEZ,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2000-10-05
6,1536632,FALLAH Mobina,FALLAH M,Mobina FALLAH,Female,Athlete,IRI,IR Iran,Islamic Republic of Iran,IR Iran,Islamic Republic of Iran,IRI,0,0.0,['Archery'],"[""Women's Individual""]",1999-08-13
8,1538449,AMAISTROAIE Madalina,AMAISTROAIE M,Madalina AMAISTROAIE,Female,Athlete,ROU,Romania,Romania,Romania,Romania,ROU,0,0.0,['Archery'],"[""Women's Individual""]",2002-12-09
9,1541265,BARBELIN Lisa,BARBELIN L,Lisa BARBELIN,Female,Athlete,FRA,France,France,France,France,FRA,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team"", 'Mixed ...",2000-04-10
10,1541266,CORDEAU Amelie,CORDEAU A,Amelie CORDEAU,Female,Athlete,FRA,France,France,France,France,FRA,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2005-10-01
11,1541268,LOPEZ Caroline,LOPEZ C,Caroline LOPEZ,Female,Athlete,FRA,France,France,France,France,FRA,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2004-01-09

In [32]:
df.iloc[:]

,code,name,name_short,name_tv,gender,function,country_code,country,country_full,nationality,nationality_full,nationality_code,height,weight,disciplines,events,birth_date
0,1535420,VALENCIA Alejandra,VALENCIA A,Alejandra VALENCIA,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team"", 'Mixed ...",1994-10-17
1,1535429,RUIZ Angela,RUIZ A,Angela RUIZ,Female,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Women's Individual"", ""Women's Team""]",2006-07-28
2,1535430,GRANDE Matias,GRANDE M,Matias GRANDE,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team"", 'Mixed Team']",2004-04-26
3,1536460,ROJAS Carlos,ROJAS C,Carlos ROJAS,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",2000-01-14
4,1536467,MARTINEZ WING Bruno,MARTINEZ WING B,Bruno MARTINEZ WING,Male,Athlete,MEX,Mexico,Mexico,Mexico,Mexico,MEX,0,0.0,['Archery'],"[""Men's Individual"", ""Men's Team""]",1998-03-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11110,1981775,SULEYMANOV Sanan,SULEYMANOV S,Sanan SULEYMANOV,Male,Athlete,AZE,Azerbaijan,Azerbaijan,Azerbaijan,Azerbaijan,AZE,0,0.0,['Wrestling'],"[""Men's Greco-Roman 77kg""]",1996-12-15
11111,1981785,MAGOMEDOV Magomedkhan,MAGOMEDOV M,Magomedkhan MAGOMEDOV,Male,Athlete,AZE,Azerbaijan,Azerbaijan,Azerbaijan,Azerbaijan,AZE,0,0.0,['Wrestling'],"[""Men's Freestyle 97kg""]",1998-01-27
11112,2008688,SACULTAN Maxim,SACULTAN M,Maxim SACULTAN,Male,Athlete,MDA,Republic of Moldova,Republic of Moldova,Republic of Moldova,Republic of Moldova,MDA,0,0.0,['Wrestling'],"[""Men's Freestyle 65kg""]",1996-11-18
11113,3429662,VALIEV Chermen,VALIEV C,Chermen VALIEV,Male,Athlete,ALB,Albania,Albania,Albania,Albania,ALB,0,0.0,['Wrestling'],"[""Men's Freestyle 74kg""]",1998-12-10
11114,9460001,LIUZZI Emanuela,LIUZZI E,Emanuela LIUZZI,Female,Athlete,ITA,Italy,Italy,0,0,0,0,0.0,['Wrestling'],"[""Women's Freestyle 50kg""]",2000-04-27

In [52]:
df.iloc[5:8, 2:4]

  name_short           name_tv
5  VAZQUEZ A       Ana VAZQUEZ
6   FALLAH M     Mobina FALLAH
7  D'AMOUR N  Nicholas D'AMOUR